@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-size: 16px;
}

.swiper {
  margin: 0;
}
.swiper-coverflow {
  margin: 0;
}
.swiper,
.swiper-coverflow,
.swiper-3d,
.swiper-initialized,
.swiper-horizontal,
.swiper-pointer-events,
.swiper-watch-progress {
  margin-right: none;
  transition: opacity 1s;
}
.swiper-slide {
  margin: 0;
  display: flex;
  justify-content: start;
  transition: opacity 1s;
  position: absolute;
  opacity: 0;
}
.swiper-3d {
  margin: 0;
  width: 800px;
}
.swiper-slide-prev,
.swiper-slide-active,
.swiper-slide-next {
  opacity: 1;
}
.swiper-slide-duplicate {
}
.swiper-slide-duplicate-active {
}
.swiper-slide-duplicate-next {
  opacity: 0;
  animation: test forwards 0.5s;
}
.swiper-slide-prev {
}
@keyframes test {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 99;
}
/* @media screen and (max-width: 1080px) {
  .swiper-slide {
    display: flex;
  }
  .swiper-3d {
    width: 800px;
  }
} */
.swiper-slide-prev {
  animation: test forwards 0.5s;
}
.swiper-slide-active {
  opacity: 1;
}

@media screen and (min-width: 1950px) {
  html {
  }
}
